<div class="container-grid-loginBox">
    <div class="right">
        <form action="/general/home" method="POST">
            <lable><h2>Sign-In</h2></lable>
            <br>
                <lable id="userId">E-mail address or mobile phone number</lable>
                <br>
                
                <div class="error">{{e_userId}}</div>
                <input type="userId" id="userId" name="userId" autofocus="on" value="{{userId}}"  maxlength="100" size="45">
            <br>
            <br>
                <input class="btn1" type="submit" value="Continue">
            <br>
            <br>
        
      <a href="/general/contactus" >Register here</a>
        </form>
    </div>

</div>
