
    <div class="container-grid-loginBox">
    <form method="POST" action="/product/addProducts" enctype="multipart/form-data">
        <lable></lable>
    <h1>Add Product</h1>
    <lable></lable>
    <lable style="color:red">{{err}}</lable>
        <label><strong>Title</strong></label>
        <input type="text" name="title" id="title" required>
        <label></label><label></label>
        <label>Category</label>
        <select name="category" style="height: 30px;">
            <option value="Baby-Care">Baby-Care</option>
            <option value="Valentine's-Day">Valentine's-Day</option>
            <option value="Electronics">Electronics</option>
            <option value="Bags">Bags</option>
        </select>
    <label></label><label></label>

        <label>Description</label>
        <textarea id="description" name="description" required></textarea>
<label></label><label></label>
        <label>Unit Price(CAD)</label>
        <input type="text" name="price" id="price" pattern='[0-9]+(\.[0-9][0-9]?)?' required>
<label></label><label></label>
        <label>quantity</label>
        <input type="text" name="quantity" id="quantity" required> 
<label></label><label></label>
        <label>Product On</label>
        <select name="productOn" style="height: 30px;">
            <option value="noWhere">No where</option>
            <option value="HomePage">Home Page</option>
            <option value="Promotion">Promotion</option>
            <option value="BestSeller">Best Seller</option>    
        </select>
        <label></label><label></label>
        <label>Product Image</label>
        <input  accept="image/*" type="file" name="img" id="img" required> 
        <label></label>
        <input type="submit" class="btn1" value="Add Product">
 <br>
    <br>
    </form>
    </div>