
    <div class="container-grid">
           {{{nav}}}
            <div class="right">
                <h3><a href="/product/products">Products</a> > On Promotion</h3>
                
                <section class="portfolio1">
                            
                            {{#each products}}
                            
                                <div class="box1">
                                        <i class=""></i>
                                        <p><img src={{img}} height="220px" width="200"></p>
                                        <p><h2>CAD ${{price}}</h2></p>
                                        <p>{{description}}</p>
                                        <p><input type="button" class="btn1" value="Buy Now"></p>
                                        
                                </div>
                            {{/each}}
                        </section>
            </div>
            
        </div>
                
                
                 
   

