
    <div class="container-grid">
            {{{nav}}}
            
            <div class="right">
                <section class="portfolio">
                            {{#each products}}
                            <a href="{{page}}">
                                <div class="box">
                                        <i class=""></i>
                                        <p>{{category}}</p>
                                        <p><img src={{img}} ></p>       
                                </div>
                            </a>
                            {{/each}}
                </section>
            </div>
            
        </div>
                
                
                 
   

