const express = require('express');
const exphbs = require('express-handlebars'); 
const bodyParser = require('body-parser');
const productModel = require("./model/products");

const app=express();
app.engine("handlebars",exphbs());
app.set('view engine','handlebars');

app.use(express.static("public"));
app.use(bodyParser.urlencoded({extended: false}));

const nav=`<div class="left">
<section class="navLeft">
       <nav class="left-main-nav">
       <ul class="left-main-nav-ul">
           <li>
               <div><a href="/product/electronics" style="text-decoration: none;">Electronics</a></div>
           </li>
           <li>
               <div><a href="/product/babyCare" style="text-decoration: none;">Baby Care</a></div>
           </li>
           <li>
               <div><a href="/product/shoes" style="text-decoration: none;">Shoes</a></div>
           </li>
           <li>
               <div><a href="/product/valentine" style="text-decoration: none;">Valentine's Day</a></div>
           </li>
           <li>
               <div><a href="/product/bestSeller" style="text-decoration: none;">Best Seller</a></div>
           </li>
           <li>
               <div><a href="/product/onPromotion" style="text-decoration: none;">On Promotion</a></div>
           </li>
          
       </ul>
   </nav>
   </section>
   </div>`;
app.get("/",(req,res)=>{
    res.render('general/home',{
        title:"Home",
        css:"css/style.css",
        products:productModel.getAllProducts(),
        promotion:productModel.getAllPromotion(),
        bestSeller:productModel.getBestSeller()

    });
});


app.get("/product/products",(req,res)=>{
    res.render('product/products',{
        title:"Products",
        css:"../css/style.css",
        products:productModel.getAllProducts(),
        nav:nav
       
    });
});

app.get("/product/babyCare",(req,res)=>{
    res.render('product/babyCare',{
        title:"babyCare",
        css:"../css/style.css",
        nav:nav,
        products:productModel.getAllbabyCare()
       
    });
});
app.get("/product/shoes",(req,res)=>{
    res.render('product/shoes',{
        title:"shoes",
        css:"../css/style.css",
        nav:nav,
        products:productModel.getAllShoes()
       
    });
});
app.get("/product/onPromotion",(req,res)=>{
    res.render('product/onPromotion',{
        title:"onPromotion",
        css:"../css/style.css",
        nav:nav,
        products:productModel.getAllPromotion()
       
    });
});
app.get("/product/bestSeller",(req,res)=>{
    res.render('product/bestSeller',{
        title:"bestSeller",
        css:"../css/style.css",
        nav:nav,
        products:productModel.getBestSeller()
       
    });
});
app.get("/product/valentine",(req,res)=>{
    res.render('product/valentine',{
        title:"valentine",
        css:"../css/style.css",
        nav:nav,
        products:productModel.getAllVday()
       
    });
});
app.get("/product/electronics",(req,res)=>{
    res.render('product/electronics',{
        title:"electronics",
        css:"../css/style.css",
        nav:nav,
        products:productModel.getAllElectronics()
       
    });
});

app.get("/general/signIn",(req,res)=>{
    res.render('general/signIn',{
        title:"signIn",
        css:"../css/style.css",
    });
});
app.post("/general/signIn",(req,res)=>{
    let count=0;
    let userId="";
    if(req.body.userId=="") {
        count++;
        e_userId="*  enter your userId !";
   }
   if(count>0)
   {
       res.render('general/signIn',{
           title:"SignIn",
           css:"../css/style.css",
          e_userId:e_userId,

    });
}
else
        {
            res.render('home',{
                title:"Home",
                css:"../css/style.css",
            });
        }
});
app.get("/general/contactus",(req,res)=>{
    res.render('general/contactus',{
        title:"Contact Us",
        css:"../css/style.css",
        body:"hi this is Kiran Bisht!"
    });
});



app.post("/general/contactus",(req,res)=>{
        let count=0;
        let fNmae="";
        let lName="";
        let eAddr="";
        let pNo="";
        let epassword="";
        let e1password="";
        let message="";
     
        if(req.body.firstName=="") {
             count++;
             fNmae="*  enter your first name !";
        }
        if(req.body.lastName=="") {
            count++;
            lName="*  enter your Last name !";
       }
       if(req.body.email=="") {
        count++;
        eAddr="* enter your Email address !";
      }
      if(req.body.password==""){
        count++;
        epassword="* Enter your Password !";
      }
      else if(req.body.r_password==""){
        count++;
        e1password="* Re-enter your Password !";
      }
      else if(req.body.r_password!=req.body.password){
        e1password="* Password didn't match !";
      }
      else{
          if(req.body.password<6 || req.body.password>12)
            epassword="* Password should be 6-12 charcters long !";
         else if(passwordCheck(req.body.password)==false){
            epassword="* Password should must have letters and numbers only!";
        }
      }
     
      if(req.body.phoneno=="") {
        count++;
        pNo="* enter your Phone Number !";
      }
      else{
        if(telephoneCheck(req.body.phoneno)==false)
        {
            pNo="* Invalid Phone Number !";
            count++;
        } 
      }
//phone no regex
function telephoneCheck(str) {
    const patt = new RegExp(/^\+?1?\s*?\(?\d{3}(?:\)|[-|\s])?\s*?\d{3}[-|\s]?\d{4}$/);
    return patt.test(str);
  }

//password regex
function passwordCheck(str) {
    const patt = new RegExp(/^[0-9a-zA-Z]{6,12}$/);
    return patt.test(str);
  }
//failed validation
        if(count>0)
        {
            res.render('general/contactus',{
                title:"Contact Us",
                css:"../css/style.css",
               e_firstName:fNmae,
               e_lastName:lName,
               e_email: eAddr,
               e_phoneno :pNo,
               e_password:epassword,
               e1_password:e1password,
               firstName:req.body.firstName,
               lastName:req.body.lastName,
               email:req.body.email,
               phoneno :req.body.phoneno,
               password:req.body.password
            });
        }
        else
        {
            res.render('general/contactus',{
                title:"Contact Us",
                css:"../css/style.css",
                message:"Congratulations !"
            });
        }
})

/*port for herocu*/
const PORT=process.env.PORT||3000;
app.listen(PORT,()=>{
    console.log("connection established !");
});